body {

  font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    height: 900px;
    background-image: url(img/emilia-home.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 75%;
  }

#div1{
 background-position: left;
}
#div2{
  background-position-y: center; 
}
#div3{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 40px;
  background-color: rgba(215,215,215,0.5);
}
